/* 
Colors:
green: 
#008457
#059d6a
red:
#c70000;
#de4034;
*/

/* Landing Page ----------------------------------- */
.LandingPage {
  background-repeat: no-repeat;
  background-image: url('https://images.unsplash.com/photo-1489859861281-ad37cdcb2cfe?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60');
  background-position: top;
  background-size: auto;
}
.LandingPage h2 {
  margin: 0;
  color: white;
}
.LandingPage #login {
  color: black;
  padding: 10px;
}
.LandingPage input {
  padding: 5px;
}
.LandingPage section {
  height: 50vh;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  color: white;
}
.LandingPage p {
  color: black;
  margin: auto;
}

.LandingPage a {
  text-decoration: none;
  color: rgb(133, 13, 13);
}

/* Profile Page ----------------------------------- */
.Profile {
  height: 100%;
}

.Profile h2 {
  margin: 0;
  padding: 10px 0;
}

.Profile p {
  color: white;
}

.Profile section {
  margin: auto;
  padding: 15px;
  min-height: 50vh;
  background-color: #008457;
  
}
.Profile content{
  background-size: cover;
}

.Profile header {
  height: 0px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 20px 20px 0;
}

.Profile svg {
  width: 30px;
  height: 30px;
}

.Profile svg path {
  fill: #ffffff;
}

.Profile .profile-img {
  padding-bottom: 10px;
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 50%;
  margin: 0 auto;
}

.Profile .profile-img img {
  height: 100%;
}

.Profile button {
  margin-top: 5vh;
  color: #ffffff;
  border-radius: 6px;
  font-size: 1.2rem;
  font-weight: 600;
  padding: 3%;
  width: 80%;
}

.Profile .saved-btn,
.Profile .btn {
  border: 3px solid #008457;
  background-color: #059d6a;
}

.Profile .logout-btn {
  border: 3px solid #c70000;
  background-color: #de4034;
}

/* Update Profile Page ---------------------------- */
.UpdateProfile {
  height: 100%;
  position: static;
}

.UpdateProfile h2 {
  margin: 0;
  padding: 15px 0;
}

.UpdateProfile small {
  display: block;
  padding: 5px 0;
  width: 60%;
  margin: 0 auto;
}

.UpdateProfile small:hover,
.UpdateProfile small:active {
  cursor: pointer;
  text-decoration: underline;
}

.UpdateProfile .cloudinary {
  width: 100%;
  max-width: 425px;
  position: absolute;
  z-index: 10;
  opacity: 1;
  transition: all 250ms ease-in-out;
}

.UpdateProfile .cloudinary.hidden {
  display: none;
  opacity: 0;
}

#photo-upload {
  background-color: #008457;
  border-radius: 5px;
  width: 90%;
  margin: 0 auto;
  transition: all 250ms ease-in-out;
}

#photo-upload input {
  width: 80%;
  padding: 0;
  background-color: #ffffff33;
  border-radius: 5px;
}

.UpdateProfile form {
  background-color: lightgray;
  display: flex;
  flex-direction: column;
  padding: 10px;
  border-radius: 5px;
}

.UpdateProfile input {
  font-size: 1rem;
  width: 85%;
  height: 30px;
  margin: 0 auto 10px;
  padding: 5px 10px;
}

.UpdateProfile form button,
#photo-upload .btn {
  width: 75%;
  border: 1px solid black;
  margin: 0 auto;
  height: 30px;
  background-color: #dddddd;
  border-radius: 5px;
}

/* Events Page ------------------------------------ */
.Events {
  height: 82vh;
  overflow: hidden;
}

.Events header {
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px 0;
  background-color: #dddddd;
}

.Events header svg {
  width: 30px;
  height: 30px;
}

.Events svg path {
  fill: #008457;
}

.Events header form {
  flex-grow: 3;
}

.Events header input {
  width: 90%;
  height: 32px;
  padding: 5px 10px;
}

.Events a {
  color: inherit;
  text-decoration: none;
}

.Events .events-filters {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 15px 20px 0;
  background-color: #dddddd;
  border-bottom: #dddddd;
}

.Events .events-filters .filter {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  background-color: #ffffff;

  border: 1px solid #dddddd;
  border-radius: 7px 7px 0 0;
  padding-top: 7px;
}

.Events .events-filters .filter.active {
  border-top: 7px solid #008457;
  border-bottom: 0;
  padding-top: 0;
}

.Events .events-count {
  display: inline-block;
  background-color: #dddddd;
  border-radius: 20%;
  padding: 0.2rem;
  margin-left: 0.5rem;
  font-weight: 600;
  font-size: 0.9rem;
}

.Events .events-collection {
  margin-top: 10px;
  padding: 0 20px;
  height: 83%;
  overflow-y: scroll;
}

/* EventShow Page --------------------------------- */
.EventShow {
  height: 100%;
}

.EventShow a {
  color: inherit;
  text-decoration: none;
}

.EventShow header {
  background-color: #008457;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  color: #ffffff;
}

.EventShow form button {
  background: none;
  color: inherit;
  border: none;
  cursor: pointer;
}

.EventShow section {
  height: 91%;
  padding: 20px;
  overflow-y: scroll;
}

.EventShow svg {
  width: 25px;
  height: 25px;
}

.EventShow h2,
.EventShow p {
  margin: 0;
}

.EventShow .title-box {
  text-align: center;
  padding: 0 15px;
  margin-bottom: 8px;
}

.EventShow .date-box,
.EventShow .location-box,
.EventShow .contact-box {
  width: 80%;
  height: 66px;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.EventShow .date-box div,
.EventShow .location-box div,
.EventShow .contact-box div {
  width: 70%;
  text-align: left;
}

.EventShow .contact-box a:hover {
  background-color: #059d6a;
}

.EventShow .description-box {
  margin-top: 10px;
  padding: 0 30px 20px;
  word-wrap: break-word;
}

/* InOffice Page ---------------------------------- */
.InOffice {
  height: 82vh;
  overflow-y: scroll;
  padding: 0 20px;
}

.InOffice a {
  text-decoration: none;
  color: inherit;
}

/* OfficeShow Page ---------------------------- */
.OfficeShow {
  height: 100%;
}

.OfficeShow header {
  background-color: #008457;
  height: 40px;
  display: flex;
  align-items: center;
  padding: 10px 20px;
  color: #ffffff;
}

.OfficeShow svg {
  width: 25px;
  height: 25px;
}

.OfficeShow h2,
.OfficeShow h3 {
  margin: 0 0 10px;
}

.OfficeShow a {
  text-decoration: none;
}

.OfficeShow .rep-profile-img {
  border-radius: 50%;
  width: 240px;
  height: 240px;
  overflow: hidden;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin: 15px auto;
}

.OfficeShow .rep-profile-img img {
  width: 100%;
  object-fit: cover;
}

.OfficeShow .rep-contact {
  max-width: 70%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.OfficeShow .social {
  margin-bottom: 10px;
}

.OfficeShow .social img {
  padding: 5px;
  margin: 0 10px;
}

.OfficeShow .rep-contact svg {
  margin-right: 15px;
}

.OfficeShow .rep-contact path {
  fill: #008457;
}

/* Election Page ---------------------------------- */

.Elections {
  height: 100%;
  overflow-y: scroll;
  padding: 0 10px;
}

.Elections a {
  text-decoration: none;
  color: inherit;
  font-weight: bold;
}

.Elections h2 {
  color: #008457;
}
